body {
    margin: 0%;
    padding: 0%;
    background-image: url(back-ground.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    cursor: default;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p {
    margin: 0;
    padding: 0;
}

header {
    color: seashell;
}

nav {
    display: flex;
}

.portfolio {
    margin-top: 20px;
    margin-left: 15px;
}

.menu {
    display: flex;
    padding: 20px;
    padding-right: 10%;
    margin-left: 50%;

}

li {
    text-decoration: none;
    padding: 10px;
    list-style: none;

}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: seashell;
    cursor: pointer;
}

a:hover {
    color: skyblue;
}

hr {
    color: snow;
    margin: 0 20px 4px 20px;
}

.left {
    font-size: 40px;
    padding: 15%;
    float: left;
}

span {
    color: tomato;
    font-family: "Lucida Console", "Courier New", monospace;

}

.section {
    display: flex;
    display: inline-block;
}

.right>img {
    background: rgb(215, 241, 64);
    border: 2px solid whiite;
    border-radius: 50%;
    height: 150px;
    width: auto;
    margin-top: 10%;
    margin-left: 20%;
}

footer {
    color: aliceblue;
    margin-top: auto;
    text-align: center;
    margin-bottom: 2vh;
}
