body {
    margin: 0%;
    padding: 0%;
    /* background-image: url(back-ground.jpeg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    cursor: default;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#home{
    background-color: darkgray;
}

header {
    color: seashell;
}

nav {
    display: inline-block;
    position: fixed;
    background-color: black;
    width: 100%;
}

.portfolio {

}

.menu {
    display: flex;
    padding: 20px;
    padding-right: 10%;
    margin-left: 50%;
}

li {
    text-decoration: none;
    padding: 10px;
    list-style: none;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: seashell;
    cursor: pointer;
}

a:hover {
    color: tomato;
}

.left {
    font-size: 40px;
    padding: 15%;
    float: left;
}

span {
    color: tomato;
    font-family: "Lucida Console", "Courier New", monospace;

}

section {
    display: flex;
    display: inline-block;
    min-height: 100vh;
}

.right>img {
    padding: 0.3%;
    position: relative;
    background: tomato;
    border-radius: 35%;
    height: 25em;
    width: auto;
    margin-left: 20%;
}

.title{
    margin-left: 75%;
}
.description{
    margin-left: 63%;
}
footer {
    color: aliceblue;
    background-color: black;
    text-align: center;
    margin-top: 72vh;
}
.footer{
    padding: 1vh;
}

.sub{
    background-color: aliceblue;
}
html{
    scroll-behavior: smooth;
}
h2{
    margin: 0%; 
    padding: 0%;
    text-align: center;
    margin-top: 15vh;
}
label{
    display: flex;
    margin: 0.3rem;
}
@media only screen and max-width:768px{
   nav li{
        text-align: center;
        width: 100%;
    }
    
}